

/* Navbar */
nav, footer {
    background-color: #bad4aa;
}

/* Keep footer at bottom */

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: purple;

}

.inline-p {
    display: inline;
}

.fab {
    width: 20px;
    height: 20px;

}

main {
    flex: 1 0 auto;
}

.form-check {
    margin: 0;
}

footer {
    flex-shrink: 0; 
}

/* Styling for project list */

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}


.post-link:hover,
.page-link {
    color: #E84610;
}

.card {
    border: none;
    background-color: transparent;
}