@import url('https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Navbar */

.nav-color, footer {
    background-color: #E6CCFF;
}

.logo {
    max-width: 70px;
    height: auto;
}




/* Keep footer at bottom */

html, body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: Cambay, sans-serif;
    color: black;

}

.inline-p {
    display: inline;
}

.fab {
    width: 20px;
    height: 20px;

}

main {
    flex: 1 0 auto;
}

.form-check {
    margin: 0;
}

footer {
    flex-shrink: 0; 
}

/* Styling for project list */


.card-img-top {
    /* height: 400px; */
    max-width: 100%; /* Ensure the image does not exceed the container width */
    /* object-fit: contain; Maintain aspect ratio and fit the entire image within the container */
}

/* Styling for card border */

.card {
    border: 5px solid #E6CCFF;
    /* height: 600px; */
    box-shadow: 0px 4px 8px #E6CCFF;
    border-radius: 10px;
}

/* style card titles in to buttons */

.clickable {
    background-color:  rgba(0, 0, 0, 0.729);
    
    border: 3px solid orange;

    color: orange;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.clickable:hover {
    color: white;
}

/* form styling */

.add-form button {
    margin-bottom: 0.5rem;
}

/* Styling for full_project */

.full-image {
    max-height: 500px;
    
}

/* Fix text overflow */

.step-box {
    overflow: auto;
    word-wrap: break-word;
}

.pagination {
    background-color: none;
}

hr {
    border: solid 2px purple;
}

/* Porject page title styling */

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    
    width: 100%;
}

.masthead-text {
    background-color: #E6CCFF;
    color: black;
    position: relative;
}

/* Home Banner */

.background {
    background-image: url("https://res.cloudinary.com/dshyrmsg2/image/upload/v1710948486/banner_image_gazfp0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;

}

.jumbotron-container {
    background-image: url("https://res.cloudinary.com/dshyrmsg2/image/upload/v1710948486/banner_image_gazfp0.jpg");
    background-color: rgba(0, 0, 0, 0.36);
    background-blend-mode: overlay;
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.jumbotron-container-logged {
        background-image: url("https://res.cloudinary.com/dshyrmsg2/image/upload/v1710948486/banner_image_gazfp0.jpg");
        background-color: rgba(0, 0, 0, 0.36);
        background-blend-mode: overlay;
        height: 500px;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        }

.button-hero {
	border-radius:6px;
	border:1px solid orange;
	display:inline-block;
	cursor:pointer;
	padding:16px 31px;
	text-decoration:none;
    color: black;
    background-color: orange;
}

.jumbotron .button-hero:hover {
	color:yellow;
    background-color: black;
    border:1px solid black;
    text-decoration: none;
}

.button-hero h3 {
    color: orange;
}

#hero-text {
    color: orange;
    font-weight: 700;
}

/* Homepage project list */
a.home-images {
 
        position: relative;
        text-align: center;
        color: white;
        margin: 2%;
        overflow: hidden;
        text-decoration: none;
        border: 1px solid white;
    
    }

.home-images img {
        width: 100%;
        height: auto;
    }
    
.centered {
        width: 215%;
        background-color: #000000c9;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex; 
        justify-content: center; 
        align-items: center; 
        color: orange;  
        font-size: large ; 
        
    }
    
.add {
    display: block;
}

    /* card titles on projects page */

.card-info {
    font-size: large;
}

/* Likes button and counter */


.like {
    font-size: larger;
    background-color: white;
    border: none;
}

.likes-count {
    font-weight: bold;
    font-size:larger;
}

/* CRUD buttons */

.crud {
    border: 1px solid black;
    
}

/* Media Queries */

@media only screen and (min-width: 820px) and (max-width: 1030px) {
    /* CSS rules for screens between 820px and 1024px */

    .jumbotron-container-logged {
        background-image: url("https://res.cloudinary.com/dshyrmsg2/image/upload/v1710948486/banner_image_gazfp0.jpg");
        background-color: rgba(0, 0, 0, 0.36);
        background-blend-mode: overlay;
        height: 900px;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        }

    .logged-home {
        margin-top: 200px;
    }

}

@media only screen and (min-width: 820px) {

.nav-text {
    font-size : x-large;
}

}

@media only screen and (min-width: 2560px) {
    html {
        font-size: 24px; 
    }
}