@import url('https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Navbar */

.nav-color, footer {
    background-color: #E6CCFF;
}

/* Keep footer at bottom */

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: Cambay, sans-serif;
    color: black;

}

.inline-p {
    display: inline;
}

.fab {
    width: 20px;
    height: 20px;

}

main {
    flex: 1 0 auto;
}

.form-check {
    margin: 0;
}

footer {
    flex-shrink: 0; 
}

/* Styling for project list */


.card-img-top {
    height: 400px;
    max-width: 100%; /* Ensure the image does not exceed the container width */
    object-fit: contain; Maintain aspect ratio and fit the entire image within the container
}

/* Styling for card border */

.card {
    border: 5px solid #E6CCFF;
    /* height: 600px; */
    box-shadow: 0px 4px 8px #E6CCFF;
    border-radius: 10px;
}

/* style card titles in to buttons */

.clickable {
    background-color:  rgba(0, 0, 0, 0.729);
    
    border: 3px solid #E6CCFF;

    color: #E6CCFF;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

/* form styling */

.add-form button {
    margin-bottom: 0.5rem;
}

/* Styling for full_project */

.full-image {
    max-height: 500px;
    
}

/* Fix text overflow */

.step-box {
    overflow: auto;
    word-wrap: break-word;
}

.pagination {
    background-color: none;
}

hr {
    border: solid 2px purple;
}

/* Porject page title styling */

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    
    width: 100%;
}

.masthead-text {
    background-color: #E6CCFF;
    color: black;
    position: relative;
}